{% for commentaire in listeCommentaires %}
    <div class="section row">
        <div class="section-extrait">

                <div class="extrait col-sm-10">
                    <a href="{{ path('alt_app_lecture', {'id': commentaire.billet.id}) }}">
                        <p style="color: black"> {{ commentaire.contenu| truncate(200) |raw }}</p>
                    </a>
                    <h6 style="margin-bottom: 0">Billet : {{ commentaire.billet.titre }}</h6>
                    <a style=" margin: 0 0 0 0; padding: 0 0 0 0" class="btn btn-outline-primary"
                       href="{{ path('alt_app_lecture', {'id': commentaire.billet.id}) }}" role="button">
                        Voir plus... »
                    </a>

                    <hr>
                </div>

        </div>
    </div>
{% endfor %}
