{% for commentaire in listeCommentaires %}
    <div class="section row">
        <div class="section-extrait">

                <div class="extrait col-sm-10">
                    <a href="{{ path('alt_app_lecture', {'id': commentaire.billet.id}) }}">
                        <p> {{ commentaire.contenu| truncate(200) |raw }}</p>
                    </a>
                    <h6 class="Billet">Billet : {{ commentaire.billet.titre }}</h6>
                    <a class="voir-plus btn btn-outline-primary"
                       href="{{ path('alt_app_lecture', {'id': commentaire.billet.id}) }}" role="button">
                        Voir plus... »
                    </a>

                    <hr>
                </div>

        </div>
    </div>
{% endfor %}
