body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #e9edf0;
}

h1{
    background: #18344c;
    color: white;
    text-align: center;
    font-family: ELEGANCE,Helvetica,Arial,sans-serif;
    font-size: 36px;

}

h2{
    margin-bottom: 60px;
    margin-top: 60px;
}

h4{
    color: #166fc3;
    padding-right: 10px;
    font-family: fantasy;
}

.container-fluid{
    margin-left: 70px;
    margin-right: 70px;
    background-color: white;
}

.sidebar {
    padding: 20px;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.menu {
    display: block;
    padding-top: 8px;
    padding-bottom: 9px;
    border-top: 3px solid #ffc600;
    border-bottom: 1px solid #e9edf0;
    color: #464f57;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-stacked>li {
    float: none;
}

.nav>li {
    position: relative;
    display: block;
}

a.navbar-brand {
    float: none;
}

.navbar-brand {
    color: #036;
    background: #f5f5f5;;
}

.navbar-nav>li>a:hover{
    background: #f5f5f5;;
}


table {
    border: medium solid #102e4d;
    background-color: rgba(16, 46, 77, 0.29);
}

td, th {
    border: thin solid #6495ed;
    font-size: 20px;
}


.glyphicon {
    margin-left: 10px;
    margin-right: 10px;
}

.table-striped{
    background-color: #e9edf0;
    box-shadow: 10px 10px 15px 0 #86b3da;
}


.btn-default{
    margin: 5px;
}

.glyphicon-ok{
    color: green;
}

.glyphicon-remove{
    color: red;
}

thead{
    background-color: #e9edf0;
    border: medium solid #102e4d;
}

.glyphicon {
    margin-right: 10px;
}

.action{
    text-align: center;
}

.glyphicon-trash{
    color: white;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th,
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}

.glyphicon-envelope.btn{
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 7px 7px 14px 0 #86b3da;
    background-color: #f5f5f5;
    border: 1px solid #102e4d;
    color: #102e4d;
}

.liste_accueil, p {
    color: #18344c;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: ELEGANCE,Helvetica,Arial,sans-serif;
}

.liste_accueil p:hover{
    color: #428bca;
}

.liste_accueil li{
    margin-left: 45px;
}

.deconnexion{
    margin-top: 20px;
    text-decoration: underline;
    color: #18344c;
    font-size: 20px;
    margin-left: 30px;
}

.glyphicon-off{
    color: #18344c;
}




