body {
    background: #e9edf0;
}

* {
    color: black;
}

a:link {
    text-decoration: none;
}

h1 {
    margin-bottom: 97px;
}

h1 + p {
    color: white;
    padding: 5px;
}

h4, h3, h2 {
    color: #036;
    font-weight: bold;
}

.blog-post h2 {
    margin-bottom: 60px;
    margin-top: 60px;
}

.blog-post {
    margin-left: 38px;
}

h2 a {
    color: #036;
    text-decoration: none;
}

.container {
    background-color: rgb(255, 255, 255);
}

.jumbotron {
    color: white;
    background-image: url(../image/club.jpg);
    text-align: center;
    height: 297px;
}

.sidebar {
    padding-right: 0;
}

.blog {
    padding-right: 0;
}

a.navbar-brand {
    float: none;
}

.navbar-brand {
    color: #036;
    background: #f5f5f5;;
}

.navbar-nav > li > a:hover {
    background: #f5f5f5;;
}

.menu {
    display: block;
    padding-top: 8px;
    padding-bottom: 9px;
    border-top: 3px solid #ffc600;
    border-bottom: 1px solid #e9edf0;
    color: #464f57;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
}

.glyphicon {
    margin-left: 10px;
    margin-right: 10px;
}

.propos {
    display: block;
    padding: 8px 16px 6px;
    margin-bottom: 0;
    border-top: 3px solid #16212c;
    border-bottom: 1px solid #16212c;
    font-weight: bold;
    font-size: 1.3rem;
    box-sizing: border-box;
}

.propos p {
    border: solid 2px #e9edf0;
    border-radius: 5px;
    padding: 10px;
}

.derCommentaire {
    display: block;
    padding: 8px 16px 6px;
    margin-bottom: 0;
    border-top: 3px solid #16212c;
    border-bottom: 1px solid #16212c;
    font-weight: bold;
    font-size: 1.3rem;
    box-sizing: border-box;
}

.sociaux {
    display: inline-block;
    padding: 0;
    background: none;
    font-size: 1.3rem;
    line-height: 2rem;
    vertical-align: middle;
}

.icone {
    display: inline-block;
    margin: 0 0 0 8px;
    vertical-align: middle;
}

.icone a img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-left: 4px;
    text-align: left;
    cursor: pointer;
}

.extrait hr {
    border-top: 5px solid #eee;
}

.extrait {
    padding-right: 0;
}

.pagination {
    text-align: center;
}

.date a {
    color: #036;
}

h3 {
    font-size: 20px;
}

.date {
    margin-top: 20px;
    margin-right: 25px;
}

.formContact {
    color: #102e4d;
    margin-bottom: 50px;
    padding: 22px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 0 #86b3da;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}

.lecture_contenu {
    box-shadow: 6px 6px 19px 0 #c3d8ea;
    color: #036;
    margin-top: 10px;
    margin-right: 10px;
    padding: 19px;
    border-radius: 4px;
}

.Nbr_com {
    margin-top: 16px;
    margin-bottom: 16px;
}

.Nbr_com p a {
    padding-left: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #166fc3;
    font-family: fantasy
}

.Nbr_com-blog {
    margin-top: 20px;
}

.Nbr_com-blog :hover {
    color: #d60004;
}

.btn {
    margin-top: 25px;
    margin-bottom: 20px;
}

 a.btn.btn-default {
    margin-bottom: 0;
}


.glyphicon {
    margin-left: 10px;
    margin-right: 10px;
}

p a .btn-default .glyphicon-comment {
    background-color: #dbe6f1;
}

.Nbr, .glyphicon-comment {
    margin-top: 18px;
    color: #036;
}

a.btn .btn-default {
    float: right;
}

.glyphicon.glyphicon-warning-sign {
    color: red;
}

.warning {
    border-color: red;
    background-color: #fcf8e3;
}

.comment {
    border-color: #036;
    background-color: #eaf1f8;
    margin-top: 5px;
}

.ajouter-un-com-lecture{
    margin-bottom: 55px;
}

.page-accueil{

}
.billet-inner:hover {
    background-color: #eee !important;
}


.billet-inner{
    background-color: aliceblue;
    border-left: 1px solid #ccc;
    border-top:1px solid #ccc;
    border : 1px solid #ccc;
    padding: 8px;
    margin-top: 15px;
}

a.btnLecture {
    margin: 0;
    padding: 3px;
    text-align: left;
}

.ajout {
    margin-top: 0;
}

span {
    text-decoration: underline;
    color: #166fc3;
    padding-right: 10px;
    font-family: fantasy
}

.page {
    margin: 20px 0;
}

footer {
    margin-top: 50px;
}

li, .section-extrait {
    list-style: none;
}

.voir-plus {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.Billet {
    margin-bottom: 0
}

.billet-comm:first-of-type {
    padding-left:0 !important;
}
.billet-comm > .billet-inner {
    margin-top: 0;
}
.billet-comm > .billet-comm {
    border-left: 1px solid #eee;
}
.billet-comm + .billet-comm {
    padding-top: 15px;
}

.row .billet-inner{
    margin-left: 0;
}

.nbr-com-lecture{
    text-decoration: none;
}

.oursphoto{
    width: 30%;
}

.ours {
    text-align: center;
}

.error{
    text-align: center;
    border-bottom: 3px solid #ffc600;
}

.errorpage{
    text-align: center;
}


.erreur{
    padding: 40px;
    border: solid 1px #036;
    margin-right: 40px;
    margin-left: 40px;
    box-shadow: 10px 10px 15px 0 #86b3da;
    border-radius: 10px;
}

.fr{
    font-size: 17px;
    font-weight: bold;
}

.en{
    margin: 16px 0 10px;
}