{% extends '::layout-admin.html.twig' %}



{% block body %}

    <h2 class="tableau_bord">Tableau de bord</h2>

    <ul>
        <li><p>Nombre total de billets : {{ nbBillets }}</p></li>
        <li><p>Nombre total de commentaires : {{ nbCommentaires }}</p></li>
        <li><p>Nombre total de messages : {{ nbContacts }} </p></li>
        <li><p>Nombre total de messages en attente de réponse: {{ nbContactsAttenteReponse }}</p></li>

    </ul>
{% endblock %}
